<!-- <div class="my-3">
            <div class="d-block">
              <small class="text-muted"><b>{{ form.title.label }}</b></small>
            </div>
            {{ form.title(class_='form-control my-2') }}
          </div>

          <div class="my-3">
            <div class="d-block">
              <small class="text-muted"
                ><b>{{ form.description.label }}</b></small
              >
            </div>
            {{ form.description(class_='form-control my-2') }}
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="my-3">
                <div class="d-block">
                  <small class="text-muted"
                    ><b>{{ form.rooms.label }}</b></small
                  >
                </div>
                {{ form.rooms(class_='form-control my-2') }}
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="my-3">
                <div class="d-block">
                  <small class="text-muted"
                    ><b>{{ form.baths.label }}</b></small
                  >
                </div>
                {{ form.baths(class_='form-control my-2') }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="my-3">
                <div class="d-block">
                  <small class="text-muted"
                    ><b>{{ form.price.label }}</b></small
                  >
                </div>
                {{ form.price(class_='form-control my-2') }}
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="my-3">
                <div class="d-block">
                  <small class="text-muted"
                    ><b>{{ form.propertyType.label }}</b></small
                  >
                </div>
                {{ form.propertyType(class_='form-control my-2') }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="my-3">
                <div class="d-block">
                  <small class="text-muted"
                    ><b>{{ form.location.label }}</b></small
                  >
                </div>
                {{ form.location(class_='form-control my-2') }}
              </div>
            </div>
          </div> -->
